html
{
	background: url('../img/background-aboutus.png') no-repeat center center fixed;
	background-size: cover; 
}
#second-block .row
{
	height: 100%;
}
#second-block .profile
{
	margin: 15px;
	border-radius: 100%;
}
.profile-picture
{
	border-radius: 100%;
	width: 200px;
	height: 200px;
	margin: auto;
}
#profile-memet
{
	background-image: url("../img/profile/memet-1.jpg");
	background-size: cover;
}
#profile-chandra
{
	background-image: url("../img/profile/chandra-2.jpg");
	background-size: cover;
}
#profile-kevin
{
	background-image: url("../img/profile/kevin-2.jpg");
	background-size: cover;
}
#profile-putri
{
	background-image: url("../img/profile/putri-1.jpg");
}
#profile-tonaas
{
	background-image: url("../img/profile/tonaas-1.jpg");
}
#profile-ardhika
{
	background-image: url("../img/profile/ardhika-1.jpg");
}