header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
main
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
nav
{
	background-color: rgba(33,33,33, 0.3);
}
header nav .nav-wrapper .wrapper
{
	width: 33.33333%;
}